@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

a,
iframe {
  outline-color: black;
}

html,
body,
:root {
  height: 100%;
}

/* Shadcn Calendar */
.rdrMonth {
  width: 100% !important;
}

.rdrCalendarWrapper {
  font-size: 16px !important;
  width: 100% !important;
}

/* Uploadthing */
label[for='file-upload'] {
  color: #f97316;
}
label[for='file-upload']:hover {
  opacity: 0.5;
  color: #f97316;
}

/* Mapbox geocoder input */
.mapboxgl-ctrl-geocoder {
  position: absolute;
  pointer-events: none;
  visibility: hidden;
}
